/* ===========================================================================
                       common css part
==============================================================================*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
div,
span,
ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: circularStd;
  src: url(../fonts/circular-std-medium-500.ttf);
}

:root {
  --white_color: #ffffff;
  --primary_color: #60e1cb;
  --secondary_bg_color: #e9fbf8;
  --primary_font_color: #292525;
  --details_font_color: #000000;
  --dmSans: "DM Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --circularStd: circularStd;
}

/* ===========================================================================
                       common css part
==============================================================================*/

/* ===========================================================================
                       navbar css
==============================================================================*/

.custom_navItem {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary_color);
  font-family: var(--circularStd);
  margin-right: 50px;
}

.custom_navItem:hover {
  color: var(--details_font_color);
}

.customBtn {
  padding: 12px 28px;
  border: none;
  font-family: var(--circularStd);
  color: var(--white_color);
  background-color: #7bc0e3;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
}
/* ===========================================================================
                       navbar css
==============================================================================*/

/* ===========================================================================
                       hero css
==============================================================================*/

#hero_part {
  position: relative;
  overflow: hidden;
}

#hero_part::after {
  position: absolute;
  content: url("../images/bannerbackground.png");
  top: 0;
  left: 0;
}

#hero_part::before {
  position: absolute;
  content: url("../images/Group\ 11041.png");
  top: 88px;
  right: 248px;
  z-index: 0;
}

.banner_left {
  margin-top: 120px;
}

.banner_left__title {
  font-size: 58px;
  font-weight: 400;
  color: var(--primary_font_color);
  font-family: var(--circularStd);
}

.banner_left__title span {
  color: var(--primary_color);
}

.banner_left__summary {
  font-size: 19px;
  font-weight: 400;
  color: var(--details_font_color);
  max-width: 672.4px;
  font-family: var(--dmSans);
  text-align: justify;
}

.customHeroBtn {
  padding: 22px 39px;
  background: var(--white_color);
  border: 2px solid rgba(7, 0, 59, 0.363);
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--circularStd);
  color: var(--primary_color);
  background-color: var(--white_color);
}

.customHeroBtn:hover {
  color: var(--white_color);
  background-color: var(--primary_color);
  border: none;
  transition: all linear.4s;
  -webkit-transition: all linear.4s;
  -moz-transition: all linear.4s;
  -ms-transition: all linear.4s;
  -o-transition: all linear.4s;
  box-shadow: #60e1cb 0px 60px 40px -7px;
}

/* ===========================================================================
                       hero css
==============================================================================*/

/* ===========================================================================
                       service css
==============================================================================*/

#servicePart {
  padding: 118px 0px 178px;
  background-color: #e9fbf8;
}

.serviveTop__title {
  font-size: 48px;
  font-weight: 400;
  color: var(--primary_font_color);
  font-family: var(--circularStd);
}

.serviceTop__summary {
  font-size: 19px;
  font-weight: 400;
  color: var(--details_font_color);
  font-family: var(--dmSans);
}

.serviceCard {
  background-color: #fdfdff;
  padding: 85px 108px 44px 27px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-top: 7px solid var(--primary_color);
}

.serviceCard__picture {
  position: relative;
  z-index: 1;
}

.serviceCard__picture::after {
  position: absolute;
  content: "";
  top: -20px;
  left: 26%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary_color);
  opacity: 0.2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -1;
}

.serviceeCard__tilte {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary_font_color);
  font-family: var(--circularStd);
  margin-top: 34px;
}
.serviceCard__summary {
  font-size: 16px;
  font-weight: 500;
  color: var(--details_font_color);
  font-family: var(--dmSans);
  margin-top: 17px;
  margin-bottom: 32px;
}

.serviceCard__readmore {
  color: #7bc0e3;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--dmSans);
}

.serviceCard__readmore:hover {
  color: #7bc0e3;
  font-size: 14px;
}

/* ===========================================================================
                       service css
==============================================================================*/

/* ===========================================================================
                       great work css
==============================================================================*/
#workPart {
  padding: 77px 0 107px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 316px;
  left: 191px;
}

#workPart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 437px;
  background-color: var(--primary_color);
  left: 0;
  bottom: 140px;
  z-index: -1;
}

.workPart__text {
  font-size: 24px;
  font-weight: 400;
  color: #7bc0e3;
  font-family: var(--circularStd);
}

.workPart__title {
  font-size: 48px;
  font-weight: 400;
  color: var(--primary_font_color);
  font-family: var(--circularStd);
}

.workPart__btn {
  font-size: 18px;
  font-weight: 400;
  color: #7bc0e3;
  background-color: transparent;
  font-family: var(--circularStd);
  border: 3px solid #7bc0e3;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  padding: 22px 59px;
}

.silderPart__summary {
  font-size: 19px;
  font-weight: 400;
  font-family: var(--circularStd);
  color: var(--details_font_color);
  margin-top: 32px;
}

.greatWorkBtn {
  margin-bottom: 82px;
}

.workPartBottom__btn {
  padding: 22px 65px;
  border: none;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  background-color: var(--primary_font_color);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--circularStd);
  color: var(--white_color);
  margin-top: 107px;
  z-index: 1;
}

/* ===========================================================================
                       great work css
==============================================================================*/

/* ===========================================================================
                       Reality part css
==============================================================================*/
#realityPart {
  padding: 202px 0px 191px;
  background: var(--white_color);
  position: relative;
}

#realityPart::after {
  position: absolute;
  content: url(../images/Group\ 11041.png);
  top: -248px;
  left: -114px;
  transform: rotate(157deg);
  -webkit-transform: rotate(157deg);
  -moz-transform: rotate(157deg);
  -ms-transform: rotate(157deg);
  -o-transform: rotate(157deg);
}

#realityPart::before {
  position: absolute;
  content: url(../images/Group\ 11055.png);
  top: -241px;
  right: 0;
}

.realityLeft__title {
  font-size: 48px;
  font-weight: 400;
  font-family: var(--circularStd);
  color: var(--primary_font_color);
}

.realityLeft__title span {
  color: var(--primary_color);
}

.realityLeft__summary {
  font-size: 19px;
  font-weight: 500;
  font-family: var(--dmSans);
  color: var(--details_font_color);
}

.allCount {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.allCount::after {
  position: absolute;
  content: url(../images/Vector\ 3.png);
  top: 0;
  left: 34%;
  z-index: -1;
}

.allCount::before {
  position: absolute;
  content: url(../images/Group\ 11041.png);
  top: 715px;
  left: -315px;
  z-index: -1;
}

.itemCount {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--white_color);
  color: #7bc0e3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
  font-size: 32px;
  font-weight: 400;
  font-family: var(--circularStd);
}

.knowledge {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 24px;
}

.knowledgeItem__title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--circularStd);
  color: var(--primary_color);
}

.knowledgeItem__summary {
  font-size: 16px;
  font-weight: 500;
  max-width: 553.75px;
  font-family: var(--dmSans);
  color: var(--details_font_color);
  margin-top: 10px;
}

.realityRight picture img {
  margin-top: 100%;
}

.realityRight {
  position: relative;
}

.realityRight__overlay {
  position: absolute;
  top: 182px;
  left: -45px;
}

/* ===========================================================================
                       Reality part css
==============================================================================*/

/* ===========================================================================
                       interest Part css
==============================================================================*/
#interestPart {
  background: url(../images/Group\ 11032.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 161.5px 0;
}

.interestPart__title {
  font-size: 48px;
  font-weight: 600;
  font-family: var(--circularStd);
  color: var(--details_font_color);
}

.interestPart__summary {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--dmSans);
  color: var(--details_font_color);
  margin-top: 25px;
  margin-bottom: 60px;
}

.interestPart__btn {
  padding: 26px 76px;
  border: none;
  background-color: var(--primary_font_color);
  font-size: 22px;
  font-weight: 600;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  font-family: var(--Poppins);
  color: var(--white_color);
}
/* ===========================================================================
                       interest Part css
==============================================================================*/

/* ===========================================================================
                       Testiomonial Part css
==============================================================================*/
#testiomonialPart {
  padding: 176px 0 146px;
}

.testiomonialTop__summary {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--circularStd);
  color: #7bc0e3;
}

.testiomonialTop__title {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--circularStd);
  color: var(--primary_font_color);
}

/* ===========================================================================
                       Testiomonial Part css
==============================================================================*/

/* ===========================================================================
                       Blog Part css
==============================================================================*/
#blogPart {
  background-color: #e9fbf8;
  padding: 184px 0px 153px;
}

.blogPartLeft__top {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--circularStd);
  color: #7bc0e3;
}

.blogPartLeft__title {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--circularStd);
  color: var(--primary_font_color);
}

.blogPartLeft__summary {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--dmSans);
  color: var(--details_font_color);
}

.blogPartLeft__btn {
  padding: 20px 64px;
  border-color: #7bc0e3;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  color: #7bc0e3;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--circularStd);
  margin-top: 30px;
}

.blogPart__right {
  background-color: #ffffff;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 75px 30px 55px 34px;
}

.blogPartRight__titile {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--circularStd);
  color: var(--primary_font_color);
}

.blogPartRight__Summary {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--dmSans);
  color: var(--primary_font_color);
  margin-top: 14px;
}

.blogPart__right a {
  color: #7bc0e3;
}

/* ===========================================================================
                       Blog Part css
==============================================================================*/
